@model Hourse.ViewModel.OrderViewModel

@{
    ViewBag.Title = "OrderList";
    int index = 1;
}

<h2>訂單管理</h2>
<div id="app">
    <div class="dark-bg-group-top mb-s clearfix">
        <button data-toggle="modal" data-target="Create" class="btn btn-success">
            新增訂單
        </button>
    </div>
    <table class="schema-maintain-table table table-striped table-m radius th-bd ">
        <tr>
            <th>項次</th>
            <th>@Html.DisplayNameFor(model => model.OrderInfoList.First().CustomerName)</th>
            <th>@Html.DisplayNameFor(model => model.OrderInfoList.First().ProductName)</th>
            <th>@Html.DisplayNameFor(model => model.OrderInfoList.First().Price)</th>
            <th>@Html.DisplayNameFor(model => model.OrderInfoList.First().MemberName)</th>
            <th>@Html.DisplayNameFor(model => model.OrderInfoList.First().CreateDateStr)</th>
            <th>設定</th>
        </tr>
        @foreach (var Order in Model.OrderInfoList)
        {
            <tr>
                <td>@index</td>
                <td>@Order.CustomerName</td>
                <td>@Order.ProductName</td>
                <td>@Order.Price</td>
                <td>@Order.MemberName</td>
                <td>@Order.CreateDateStr</td>
                <td></td>
            </tr>
            index++;
        }
    </table>
    @* dailog *@
    <div class="modal fade" id="Create" role="dialog">
        <div class="modal-dialog modal-s">
            <div class="modal-content dark">
                <div class="modal-header">
                    <h3 class="modal-title text-center">新增訂單</h3>
                </div>
                <br />
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-6">
                            <label>客戶姓名</label>
                            <input class="form-control" v-model="NewOrUpdateCustermer.CustomerName" type="text" />
                        </div>
                        <div class="col-xs-6">
                            <label>客戶電話</label>
                            <input class="form-control" v-model="NewOrUpdateCustermer.Phone" type="text" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label>客戶地址</label>
                            <input class="form-control" v-model="NewOrUpdateCustermer.Address" type="text" style="width:100%" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-right">
                            <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close">
                                取消
                            </button>
                            <button v-if="IsEdit" type="button" class="btn btn-create" data-dismiss="modal" aria-label="Close" v-on:click="UpdateCustomer()">
                                確認
                            </button>
                            <button v-else type="button" class="btn btn-create" data-dismiss="modal" aria-label="Close" v-on:click="CreateCustomer()">
                                確認
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
